/*.navbar {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*  background: #07182e;*/
/*  padding: 15px 30px;*/
/*  border-bottom: 1px solid #12345a;*/
/*  color: #fff;*/
/*}*/

/*.nav-left {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  gap: 20px;*/
/*}*/

/*.nav-logo {*/
/*  width: 38px;*/
/*  height: 38px;*/
/*  border-radius: 6px;*/
/*}*/

/*.nav-title {*/
/*  font-size: 20px;*/
/*  font-weight: 700;*/
/*  margin-right: 20px;*/
/*  color: #61dafb;*/
/*}*/

/*.nav-left a {*/
/*  color: #b4c7ff;*/
/*  text-decoration: none;*/
/*  font-size: 15px;*/
/*  font-weight: 500;*/
/*}*/

/*.nav-left a:hover {*/
/*  color: #61dafb;*/
/*}*/

/*.nav-right {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  gap: 12px;*/
/*}*/

/*.user-text {*/
/*  font-size: 14px;*/
/*  opacity: 0.8;*/
/*}*/

/*.logout-btn {*/
/*  background: #e63946;*/
/*  border: none;*/
/*  padding: 6px 12px;*/
/*  border-radius: 6px;*/
/*  color: #fff;*/
/*  cursor: pointer;*/
/*}*/

/*.logout-btn:hover {*/
/*  background: #c92a39;*/
/*}*/
